p{
    background-color: aqua;
    color:darkblue
}

h1{
    background-color: darkcyan;
    color: rgb(243, 239, 9);
}


div{
    background-color: lawngreen;
    color: rgb(68, 0, 255);
}